@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{
    margin: 0; padding: 0;
    transition: border-color .4s, background .4s, opacity .4s, box-shadow .4s, height .4s;
    /* Pretendard 우선하는 경우 */
    font-family: "Pretendard Variable", Pretendard, -apple-system, system-ui, sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul,li{
    list-style: none;
}
body,img{
    width: 100%; height: 100%;
    object-fit: cover;
    vertical-align: top;
}
a,i,address{
    text-decoration: none;
    font-style: normal;
    color: inherit;
    font-size: inherit;
}
.wrap{
    width: 100%;
}
.page{
    width: 100%; 
    /* height: 100vh; */
    /* position: relative; */
    padding: 0 2.5rem; box-sizing: border-box;
}
button{
    color: inherit; background-color: inherit; font-size: inherit;
    border: none;
    cursor: pointer;
}
video{
    width:100%;
}
.icon{
    display: inline-block;
    /* overflow: hidden; */
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    text-decoration: none;
    vertical-align: top;
    background-size: auto 100%;
    outline: 0 !important;
    text-indent: -1000em;
    /* 캡션text-indent: -1000em; */
    width: 50px;
    height: 50px;
}
